h1. Apache Curator Releases

h2. Download
The current release can be [[downloaded using these links|#Current_Release]].

Older releases are available from the [[archive|https://archive.apache.org/dist/curator/]].

You can verify the integrity of a downloaded release using the PGP signatures and hashes hosted at the main Apache distribution site.
For additional information, refer to the Apache documentation for [[verifying the integrity of Apache project releases|https://www.apache.org/info/verification.html]].
The binary artifacts for Curator are available from [[Maven Central|http://search.maven.org/#search%7Cga%7C1%7Corg.apache.curator]] and its mirrors.

h2. Current Release

* Current Release: [[apache\-curator\-${currentStableVersion}\-source\-release.zip|https://www.apache.org/dyn/closer.lua/curator/${currentStableVersion}/apache-curator-${currentStableVersion}-source-release.zip]]
* PGP: [[apache\-curator\-${currentStableVersion}\-source\-release.zip.asc|https://downloads.apache.org/curator/${currentStableVersion}/apache-curator-${currentStableVersion}-source-release.zip.asc]]
* SHA\-512: [[apache\-curator\-${currentStableVersion}\-source\-release.zip.sha512|https://downloads.apache.org/curator/${currentStableVersion}/apache-curator-${currentStableVersion}-source-release.zip.sha512]]
* Keys: [[KEYS|https://downloads.apache.org/curator/KEYS]]

h2. All Releases / History

See [[Curator's Release Wiki|https://cwiki.apache.org/confluence/display/CURATOR/Releases]] for a detailed historical
list of releases.
